{% extends "base.html" %}

{% block content %}
<h2>Список врачей</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Специализация</th>
        <th>Телефон</th>
        <th>Email</th>
    </tr>
    {% for doctor in doctors %}
    <tr>
        <td>{{ doctor.first_name }}</td>
        <td>{{ doctor.last_name }}</td>
        <td>{{ doctor.specialization or '-' }}</td>
        <td>{{ doctor.phone or '-' }}</td>
        <td>{{ doctor.email or '-' }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
