 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(230, 0, 18, 1), rgba(230, 0, 18, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 400px;
  margin: 100px auto 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 200px;
}

.u-section-2 .u-text-1 {
  width: 805px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 798px;
  margin: 21px auto 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-block-1bfa-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1bfa-3 {
  position: absolute;
  left: 0;
}

.u-block-1bfa-4 {
  position: absolute;
  right: 0;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-1 .u-image-1 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-3-1 .u-group-1 {
  min-height: 226px;
  width: 676px;
  height: auto;
  margin: -107px auto 0;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 11px 60px;
}

.u-section-3-1 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3-1 .u-image-1 {
    height: 548px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3-1 .u-image-1 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-3-1 .u-image-1 {
    height: 360px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-group-1 {
    min-height: 205px;
    width: 426px;
    margin-top: -76px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3-1 .u-image-1 {
    height: 253px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-group-1 {
    min-height: 161px;
    width: 293px;
    margin-top: -44px;
    margin-bottom: -18px;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-2 .u-image-1 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-3-2 .u-group-1 {
  min-height: 226px;
  width: 676px;
  height: auto;
  margin: -107px auto 60px;
}

.u-section-3-2 .u-container-layout-1 {
  padding: 11px 60px;
}

.u-section-3-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3-2 .u-image-1 {
    height: 548px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-3-2 .u-image-1 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-3-2 .u-image-1 {
    height: 360px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-2 .u-group-1 {
    min-height: 205px;
    width: 426px;
    margin-top: -76px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3-2 .u-image-1 {
    height: 253px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-2 .u-group-1 {
    min-height: 161px;
    width: 293px;
    margin-top: -44px;
    margin-bottom: -18px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 495px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 60px auto 58px 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 22.5px);
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 375px;
  grid-gap: 30px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/TLoZ_BotW_boxart.png');
  background-position: 50% 50%, 50% 50%;
  --radius: 30px;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/Super_Mario_Odyssey_box.jpg');
  background-position: 50% 50%;
  --radius: 30px;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/Animal_Crossing_New_Horizons.jpg');
  background-position: 50% 50%;
  --radius: 30px;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/p1_3578564_6ca413ac.jpg');
  background-position: 50% 50%;
  --radius: 30px;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-4 .u-list-1 {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1000px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2061px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 2000px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 469px;
}

.u-section-5 .u-tabs-1 {
  min-height: 408px;
  margin: 61px auto 0;
}

.u-section-5 .u-tab-list-1 {
  background-image: none;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  margin: -30px 0 -15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}